@media (max-width: 576px) {
    body {
        background: #000000;
        color: #ffffff;
        font-family: monospace;
    }
} 

@media (min-width: 576px) {
    body {
        background: #749c2c;
        color: #f2f2f2;
        font-family: fantasy;
    }
}